@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap');

:root {
    --owhite: #fcfcfc;
    --dwhite: #fdfdfd;
    --oblack: #0c0c0c;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    background: var(--owhite);
    line-height: .8;
}

#bar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background: var(--oblack);
}

#bar * {
    margin: 2%;
    text-decoration: none;
    color: var(--owhite);
}
#about:active, #about:focus, #about:visited, #about:link {
    text-decoration: none;
    color: var(--owhite);
}

#content {
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    text-align: center;
}

.code {
    width: 90%;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    background: var(--owhite);
}

@media (max-width: 800px) {
    #content div {
        margin: 15%;
    }
}